# קבצי הגדרות וסודות
appsettings.json
appsettings.Development.json

# תיקיות של Visual Studio
.vs/
.plastic/

# תיקיות שנוצרות בזמן הרצה (חשוב מאוד!)
[Bb]in/
[Oo]bj/

# קבצי משתמש והגדרות אישיות
*.user
*.userossc
*.sln.docstates

# קבצי לוג
*.log